* {
    margin: 0px;
    padding: 0px;
}

*:focus {
    outline: none;
}

::selection {
    background: #ff6f61; /* WebKit/Blink Browsers */
    color: #ffefef;
}

::-moz-selection {
    background: #ff6f61; /* Gecko Browsers */
    color: #ffefef;
}

body {
    background-color: #ffefef;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

h1, h2 {
    font-weight: 400;
    font-size: 60px;
    font-family: helvetica;
}

p {
    font-size: 25px;
    font-family: helvetica;
    padding-top: 15px;
    padding-bottom: 15px;
}

.project_info {
    font-size: 25px;
    font-family: helvetica;
    font-style: italic;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

p img {
    width: 100%;
}

#menu {
    float: left;
    min-width: 360px;
    width: 30%;
    position: fixed;
    font-size: 360%;
}

#menu div {
    margin-bottom: 5px;
    color: blue;
}

#menu span:hover {
    text-decoration: underline;
}

#menu img {
    width: 230px;
    margin-bottom: 90px;
}

#menu a {
    text-decoration: none;
    color: black;
}


.content {
    float: right;
    width: 67.5%;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.block {
    flex: 1 1 49%;
    position: relative;
    background-size: cover;
    margin-top: 0.8%;
    margin-left: 0.8%;
    padding-top: 32%;
    font-size: 5.5vw;
}

.block .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-size: cover;
}

.block:hover .cover {
    display: none;
}

.block .text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-decoration: line-through;
}

.slideshow {
    height: 40vw;
    left: 50%;
    position: relative;
    width: 0px;
}

.slideshow.mobile {
    display: none;
    height: 66.5vw;
}

.slideshow img {
    position: absolute;
    height: 40vw;
}

.slideshow.mobile img {
    height: 66.5vw;
}

.slideshow .arrow {
    position: absolute;
    height: 3vw;
    width: 3vw; 
    margin-top: 18.5vw;
}

.slideshow.mobile .arrow {
    height: 6vw;
    width: 6vw;
    margin-top: 31.25vw;
}

.slideshow .prev {
    margin-left: -33.4vw;
    transform: scale(-1);
}

.slideshow.mobile .prev {
    margin-left: -49.5vw;
}

.slideshow .next {
    margin-left: 30.5vw;
}

.slideshow.mobile .next {
    margin-left: 43.2vw;
}

.splash {
    position: absolute;
    width: 30vw;
    left: 50%;
    top: 46%;
    transform: translate(-55%, -69%);
}

.splash img {
    width: 100%;
}

.splash div {
    position: absolute;
    font-size: 2vh;
    width: 100%;
    margin-top: 3vh;
    color: rgba(0, 0, 0, 0.1);
    animation-duration: 30s;
    animation-name: appear;
    text-align: center;
}

@keyframes appear {
    from {
        color: rgba(0,0,0,0); 
    }

    to {
        color: rgba(0,0,0,0.1);
    }
}

@media (max-width: 1200px) {
    /* Two total columns */

    .list {
        display: block;
        flex-wrap: nowrap;
    }

    .block {
        padding-top: 57%;
        font-size: 9vw;
        width: calc(100% - 100px);
        margin-left: 100px;
    }
}

@media (max-width: 1000px), 
    (max-width: 1700px) and (min-resolution: 2dppx) {

    h1, h2 {
        font-size: 11vh;
        word-wrap: break-word;
    }
    
    p {
        font-size: 4vh;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    
    .project_info {
        font-size: 4vh;
    }

    #menu {
        float: none;
        width: 100%;
        position: relative;
        margin-bottom: 10vh;
        font-size: 11vh;
    }
    
    #menu img {
        width: 70vw;
        margin-bottom: 90px;
    }
    
    .content {
        float: none;
        width: 100%;        
    }
    
    .block {
        padding-top: 70%;
        font-size: 10vh;
        width: 100%;
        margin-left: 0px;
        margin-bottom: .5vh;
    }

    .slideshow.mobile {
        display: block;
    }

    .slideshow.desktop {
        display: none;
    }

    .splash {
        width: 60vw;
    }
}
